html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', 'Sans-Serif';
	color: #505050;
}

div.contact a:hover {
	text-decoration: none;
}

.card-img-top {
	object-fit: contain;
}

footer input.form-control:focus {
	border-color: rgb(247, 152, 39);
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .5);
}